<!DOCTYPE html>
<html color-scheme="dark" lang="en">

<head>
  <title>nnda</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="CCBot" content="nofollow">
  <meta name="robots" content="noai, noimageai">
  
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>ん</text></svg>">

  <meta name="author" content="nnda">
  <meta name="description"
    content="Hi there, Im a self-proclaimed game developer, front-end web developer, and digital artist/illustrator."
  >

</head>

<body>

  <div id="lightbox" class="hidden">
    <button id="lightbox-left"><i class="fa-solid fa-arrow-left"></i></button>

    <div class="img-container">
      <!-- <img src=""> -->
    </div>

    <button id="lightbox-right"><i class="fa-solid fa-arrow-right"></i></button>
  </div>

  <div id="intro">
    <div class="navbar hidden">
      <span class="heading">
        <span>ん</span>
      </span>
      <div class="links">
        <a class="link bg-corner-hover" href="#games">
          <i class="icons fa-solid fa-gamepad"></i>
          Games
        </a>
        <a class="link bg-corner-hover" href="#artworks">
          <i class="icons fa-solid fa-palette"></i>
          Arts
        </a>
        <a class="link bg-corner-hover" href="#arts">
          <i class="icons fa-solid fa-code"></i>
          <span class="hide-mobile">Source Code</span>
        </a>
      </div>
    </div>
    <!-- this really shouldnt need that many container, but alas -->
    <div class="intro-cover-overflow">
      <div class="intro-cover-container">
        <div id="intro-cover-images">
          <img src="arts/cover_bg2.png" data-depth="0.3">
        </div>
      </div>
    </div>
    <div class="cover-gradient"></div>
    <div class="cover-overlay">
      <div class="cover-overlay-content">
        <div class="cover-overlay-heading">
          <hr>
          <a href="#projects" class="button-section">
            <i class="fa-solid fa-hashtag"></i>
            Projects
          </a>
          <a href="#illustrations" class="button-section">
            <i class="fa-solid fa-hashtag"></i>
            Illustrations
          </a>
        </div>
        <div class="code-tag-start">&lt;</div>
        <div class="code-tag-end">/&gt;</div>
        <div class="sidebar social-links">
          <div class="code-end">];</div>
          <div class="links">
            <a target="_blank" href="" referrerpolicy="origin" rel="nofollow noopener">
              <%= icons.itchdotio %>
            </a>
            <a target="_blank" href="" referrerpolicy="origin" rel="nofollow noopener">
              <%= icons.github %>
            </a>
            <a target="_blank" href="" referrerpolicy="origin" rel="nofollow noopener">
              <%= icons.mastodon %>
            </a>
            <a target="_blank" href="" referrerpolicy="origin" rel="nofollow noopener">
              <%= icons.instagram %>
            </a>
          </div>
          <div class="code-start">socials <span class="e">=</span> [</div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================================================== -->
  <div class="control-bar">
    #intro
  </div>

  <div id="main">

    <div id="projects">
      <div class="section-inner">
        <div class="section-heading">
          <h1>Projects</h1>
          <h1 class="sub-text"><span>プ</span><span>ロ</span><span>ジ</span><span>ェ</span><span>ク</span><span>ト</span></h1>
        </div>
        <div class="section-desc">
          <p>

          </p>
        </div>
        <!-- ---------------------------------------------------------- -->
        <div class="project-list">
          <!-- ---------------------------------------------------------- -->
          <div class="project">
            <div class="project-thumb">
              <img src="arts/0.png">
            </div>
            <div class="project-heading">
              <h1 class="project-title">
                <a target="_blank" href="" referrerpolicy="origin" rel="nofollow noopener">
                Project Name
                </a>
              </h1>
            </div>
            <div class="separator-a"></div>
            <p>
              Project description goes here
            </p>
            <div class="project-labels">
              <span class="label">
                <%= icons.godotengine %>
                Godot 4
              </span>
            </div>
          </div>
          <!-- ---------------------------------------------------------- -->
          <div class="project">
            <div class="project-thumb">
              <img src="arts/3.png">
            </div>
            <div class="project-heading">
              <h1 class="project-title">
                <a target="_blank" href="" referrerpolicy="origin" rel="nofollow noopener">
                Project Name
                </a>
              </h1>
              <div class="project-labels">
              </div>
            </div>
            <div class="separator-a"></div>
            <p>
              Project description goes here
            </p>
          </div>
          <!-- ---------------------------------------------------------- -->
        </div>
      </div>
    </div>
    <!-- ========================================================== -->
    <div id="illustrations">
      <div class="section-inner">
        <div class="section-heading">
          <h1>Illustrations</h1>
          <h1 class="sub-text"><span>イ</span><span>ラ</span><span>ス</span><span>ト</span></h1>
        </div>
        <div class="section-desc">
          <p>
            
          </p>
        </div>
        <div class="gallery-grid">
        </div>
      </div>
    </div>
    <!-- ========================================================== -->
    <div id="tools">
      <div class="section-inner">
        <div class="section-heading">
          <h1>Tech Stack</h1>
          <h1 class="sub-text"><span>イ</span><span>ラ</span><span>ス</span><span>ト</span></h1>
        </div>
        <div class="section-desc">
          <p>
            
          </p>
        </div>
        <div class="tool-list">
          <h4 class="heading fa-solid fa-hammer">&nbsp;Languages &amp; Frameworks</h4>
          <div class="skill-lang">
            <span class="label">
              <%= icons.godotengine %>
              GDScript
            </span>
            <span class="label">
              <%= icons.css3 %>
              CSS
            </span>
            <span class="label">
              <%= icons.html5 %>
              HTML
            </span>
            <span class="label">
              <%= icons.python %>
              Python
            </span>
            <span class="label fade">
              <%= icons.javascript %>
              JavaScript
            </span>
            <span class="label fade">
              <%= icons.sass %>
              Sass
            </span>
            <span class="label fade">
              <%= icons.cplusplus %>
              C++
            </span>
            <span class="label fade">
              <%= icons.csharp %>
              C#
            </span>
          </div>
          <h4 class="heading fa-solid fa-code">&nbsp;Softwares &amp; Tools</h4>
          <div class="skill-tool">
            <span class="label">
              <%= icons.godotengine %>
              Godot Engine
            </span>
            <span class="label ">
              FireAlpaca
            </span>
            <span class="label">
              <%= icons.medibangpaint %>
              MediBang Paint
            </span>
            <span class="label">
              Paint.NET
            </span>
            <span class="label fade">
              <%= icons.sublimetext %>
              Sublime Text
            </span>
            <span class="label fade">
              <%= icons.aseprite %>
              Aseprite
            </span>
            <span class="label fade">
              <%= icons.visualstudiocode %>
              Visual Studio Code
            </span>
          </div>
          <div class="skill-info">
            <div>Proficient</div>
            <div>
              <div class="level"></div>
              <div class="level"></div>
              <div class="level"></div>
              <div class="level"></div>
              <div class="level"></div>
            </div>
            <div>Decent</div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- ========================================================== -->
  <div id="footer">
    <div class="section-inner">
      <div class="footer-links">
        <div>
          <h4>Contacts</h4><a>Discord</a><a>E-mail</a>
        </div>
        <div>
          <h4>Links</h4><a target="_blank" referrerpolicy="origin" rel="nofollow noopener" href="#">Certificates</a><a target="_blank" referrerpolicy="origin" rel="nofollow noopener" href="#">Source Code</a>
        </div>
        <div>
          <h4>Socials</h4>
        </div>
      </div>
      <div>Copyright © 2023 nnda</div>
    </div>
  </div>
</body>

</html>
